doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='/prism/themes/prism.css')

  body
    script(type='text/javascript' src='/prism/prism.js')
    script(type='text/javascript' src='/prism/components/prism-javascript.min.js')
    script(type='text/javascript' src='/jquery/dist/jquery.js')
    block content
